// primary colors
$brainflix-black-primary: #323232;
$brainflix-blue-primary: #0095FF;
$silver-primary: #AFAFAF;
$white-primary: #FFFFFF;


// secondary colors
$brainflix-darkblack-secondary:#000000;
$brainflix-Mercury-secondary:#E1E1E1;
$brainflix-Alabaster-secondary:#FAFAFA;
