@import '../../styles/vars';
@import '../../styles/mixins';

.videoinfo__layout{
    width: 90%;
    margin: 0 auto;
    display: flex;


    @include respond-to(mobile){
        margin: 0;
        // width: 100%;
        padding: 1rem;
    }

    .next__video__header{
        color: $silver-primary;
        padding: 8px 16px;
        font-weight: normal;
        font-family: 'brainflix', sans-serif;
        font-size: 14px;
    }

    &__left{
        // flex-grow: 2;
        width: 70%;
    }

    &__right{
        // flex-grow: 1;
        width: 30%;
        border-left: 2px solid $brainflix-Mercury-secondary;
    }

    @include respond-to(tablet){
        flex-direction: column;
        &__left{
            width: 100%;
        }

        &__right{
            width: 50%;
            border-left: none;
        }
    }

    @include respond-to(mobile){
        &__right{
            width: 100%;
        }
    }
}