@import '../../styles/vars';
@import '../../styles/mixins';


.video__player{
    background-color:$brainflix-darkblack-secondary;
    display: flex;
    justify-content: center;
    video{
        width: 70%;
    }

    @include respond-to(tablet){
        video{
            width: 90%;
        }
    }
}